/* Start global rules*/ 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: $family;
    background-color: $main-bg;
}
h1, h2 {
    font-weight: 800;
    color: $names-color;
    text-transform: capitalize;
}
h1 {
    font-size: 26px;
}
h2 {
    font-size: 20px;
    margin-right: 10px;
    transition: $trans;
    &:hover {
        cursor: pointer;
        color: $notif-bg;
    }
}
.time {
    font-size: 14px;
    font-weight: 500;
    color: $text-color;
}
img {
    width: 60px;
    height: 60px;
    @media (max-width: 767px) {
        width: 50px;
        height: 50px;
    }
}
.reaction {
    font-size: 16px;
    color: $text-color;
    font-weight: 500;
    margin-right: 10px;
}
.object {
    font-size: 16px;
    font-weight: 800;
    color: $second-text-color;
    margin-right: 10px;
    transition: $trans;
    &:hover {
        cursor: pointer;
        color: $notif-bg;
    }
}
.bull {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: $bull-bg;
    margin-left: 10px;
}
@media (max-width: 767px) {
    h2 {
        font-size: 18px;
    }
    .reaction {
        font-size: 14px;
    }
    .object {
        font-size: 14px;
    }
}
/* end global rules*/ 
/* start container*/ 
.container {
    padding: 20px;
    background-color: $container-bg;
    border-radius: 10px;
    @media (min-width: 992px) {
        width: 800px;
        margin: 30px auto;
    }
    @media (max-width: 991px) {
        width: calc(100% - 60px);
        margin: 30px auto;
    }
    @media (max-width: 767px) {
        .top-sec {
            h1 {
                font-size: 22px;
            }
            p {
                font-size: 14px;
            }
        }
        .box {
            gap: 15px;

        }
    }
    .top-sec {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 30px;
        h1 {
            span {
                display: inline-block;
                background-color: $notif-bg;
                padding: 1px 6px;
                color: $container-bg;
                font-size: 16px;
                border-radius: 6px;
            }
        }
        p {
            transition: $trans;
            color: $second-text-color;
            font-size: 16px;
            font-weight: 500;
           &:hover {
            color: $notif-bg;
            cursor: pointer;
           } 
        }
    }
    .box {
        display: flex;
        align-items: center;
        padding: 15px;
        gap: 20px;
        margin-bottom: 20px;
        border-radius: 6px;
        &.new {
            background-color: $box-bg;
        }
        &.with-msg {
            align-items: flex-start;
        }
        .info {
            .name {
                display: flex;
                align-items: center;
                flex-wrap: wrap;
            }
        }
        .msg {
            padding: 15px;
            border: 1px solid $main-bg;
            color: $text-color;
            margin-top: 15px;
            border-radius: 4px;
            transition: $trans;
            &:hover {
                cursor: pointer;
                background-color: $box-bg;
                border-color: $box-bg;
            }
        }
        .post {
            cursor: pointer;
        }
    }
}
/* end container*/ 

footer {
    .attribution {
        font-size: 11px;
        text-align: center;
        a {
            color: hsl(228, 45%, 44%);
        }
    }
}